<div class='config-bubble'>
	<%= content_tag(:div, flash[:notice], :class => "flash #{flash[:notice_class]}") if flash[:notice] %>
	<% form_tag('/configuration_values/save', :method => :post) do %>
		<p>
			<%= label_tag 'git_repo', 'Local Git Repo Path:' %>
			<%= text_field_tag 'git_repo', (@configuration_values['git_repo'].value rescue '') %>
		</p>
		<p>
			<%= label_tag 'participants', 'Participants (CSV):' %>
			<%= text_field_tag 'participants', (@configuration_values['participants'].value rescue '') %>
		</p>
		<p>
			<%= label_tag 'redmine_username', 'Redmine Username:' %>
			<%= text_field_tag 'redmine_username', (@configuration_values['redmine_username'].value rescue '') %>
		</p>
		<p>
			<%= label_tag 'redmine_password', 'Redmine Password:' %>
			<%= password_field_tag 'redmine_password', (@configuration_values['redmine_password'].value rescue '') %>
		</p>
		<p class='button-container'> 
			<%= sexy_button 'Submit' %>
		</p>
		<%= clearfix %>
	<% end %>
</div>
